<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="About.">
    <title>SCE Tours about page.</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <ul id="navigation">
      <li><a href="../">Home</a></li>
      <li><a href="deals">Deals</a></li>
      <li><a href="about">About us</a></li>
      <li><a href="contact">Contact us</a></li>
      <li><a href="login">Login</a></li>
    </ul>
    <h1>About us:</h1>
    <p>SCE Tours is an Israeli traveling agency with over 12,000 travel experiences <br> in 25+ countries all over the world.</p>
  </body>
</html>
