<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Deals.">
    <title>SCE Tours deals page.</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <ul id="navigation">
      <li><a href="../">Home</a></li>
      <li><a href="deals">Deals</a></li>
      <li><a href="about">About us</a></li>
      <li><a href="contact">Contact us</a></li>
      <li><a href="login">Login</a></li>
      <li><a href='newDeal'>Book Now!</a></li>
    </ul>
    
    <section class="Deals">
       <div class="container">
         <h5 class="section-head">
           <span class="heading">Explore Our deals</span>
         </h5>
         <div class="grid">
           <div class="grid-item Featured-deals">
             <img src="/public/img/1.png" alt="" class="Deal-image">
            <h5 class=Deal-name> luver</h5>
            <span class="Deal-price"> From $200/night</span>
            <div class="Deal-rating">
              <i class="fas fa-star rating"></i>
              <i class="fas fa-star rating"></i>
              <i class="fas fa-star rating"></i>
              <i class="fas fa-star rating"></i>
              <i class="fas fa-star-half rating"></i>
            </div>
            <a href="checkout" class="btn btn-gradient">Book now!</a>
           </div>
          
            <div class="grid-item Featured-deals">
                <img src="/public/img/2.jpg" alt="" class="Deal-image">
              <h5 class=Deal-name> tower</h5>
              <span class="Deal-price"> From $250/night</span>
              <a href="checkout" class="btn btn-gradient">Book now!</a>
            </div>
              <div class="grid-item Featured-deals">
                <img src="/public/img/3.jpg" alt="" class="Deal-image">
                <h5 class=Deal-name> three</h5>
                <span class="Deal-price"> From $300/night</span>
                <div class="Deal-rating">
                  <i class="fas fa-star rating"></i>
                  <i class="fas fa-star rating"></i>
                  <i class="fas fa-star rating"></i>
                  <i class="fas fa-star rating"></i>
                  <i class="fas fa-star-half rating"></i>
                </div>
                <a href="checkout" class="btn btn-gradient">Book now!</a>
              </div>
              
                <div class="grid-item Featured-deals">
                  <img src="/public/img/4.jpg" alt="" class="Deal-image">
                  <h5 class=Deal-name> other</h5>
                  <span class="Deal-price"> From $350/night</span>
                  <div class="Deal-rating">
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star-half rating"></i>
                  </div>
                  <a href="checkout" class="btn btn-gradient">Book now!</a>
                </div>
                  <div class="grid-item Featured-deals">
                    <img src="/public/img/5.jpg" alt="" class="Deal-image">
                    <h5 class=Deal-name> another</h5>
                    <span class="Deal-price"> From $400/night</span>
                    <div class="Deal-rating">
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star-half rating"></i>
                    </div>
                    <a href="checkout" class="btn btn-gradient">Book now!</a>
                  </div>
                  <div class="grid-item Featured-deals">
                    <img src="/public/img/6.jpg" alt="" class="Deal-image">
                    <h5 class=Deal-name> another</h5>
                    <span class="Deal-price"> From $450/night</span>
                    <div class="Deal-rating">
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star-half rating"></i>
                    </div>
                    <a href="checkout" class="btn btn-gradient">Book now!</a>
                  </div>
                  <div class="grid-item Featured-deals">
                    <img src="/public/img/7.jpg" alt="" class="Deal-image">
                    <h5 class=Deal_name> another</h5>
                    <span class="Deal-price"> From $500/night</span>
                    <div class="Deal-rating">
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star-half rating"></i>
                    </div>
                    <a href="checkout" class="btn btn-gradient">Book now!</a>
                  </div>
                  <div class="grid-item Featured-deals">
                    <img src="/public/img/8.jpg" alt="" class="Deal-image">
                    <h5 class=Deal-name> another</h5>
                    <span class="Deal-price"> From $550/night</span>
                    <div class="Deal-rating">
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star-half rating"></i>
                    </div>
                    <a href="checkout" class="btn btn-gradient">Book now!</a>
                  </div>
                  <div class="grid-item Featured-deals">
                    <img src="/public/img/9.jpg" alt="" class="Deal-image">
                    <h5 class=Deal-name> another</h5>
                    <span class="Deal-price"> From $600/night</span>
                    <div class="Deal-rating">
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star-half rating"></i>
                    </div>
                    <a href="checkout" class="btn btn-gradient">Book now!</a>
                  </div>
                  <div class="grid-item Featured-deals">
                    <img src="/public/img/10.jpg" alt="" class="Deal_image">
                    <h5 class=Deal_name> another</h5>
                    <span class="Deal-price"> From $650/night</span>
                    <div class="Deal-rating">
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa-star rating"></i>
                      <i class="fas fa_star-half rating"></i>
                    </div>
                    <a href="checkout" class="btn btn-gradient">Book now!</a>
                  </div>
         </div>
        </div>
        <div id="checkout">
          <form action="/checkout" method="POST">
            <li><a href="checkout"></a>
            </li>
          </form>
        </div>
       </section>
        
     
   



  </body>


 
</html>
