<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Login">
    <title>SCE Tours Login  page.</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <ul id="navigation">
      <li><a href="../">Home</a></li>
      <li><a href="deals">Deals</a></li>
      <li><a href="about">About us</a></li>
      <li><a href="contact">Contact us</a></li>
      <li><a href="login">Login</a></li>
    </ul>
    <div id="Login">
      <h1>Login:</h1>
      <form action="/login" method="POST">
          <input type="text" name="username" placeholder="Username" required>
          <br>
          <br><input type="password" name="password" placeholder="Password" required>
          <br>
          <br><input type="submit">
      </form>
    </div>
    <p>New Employee:
    <a href="emsignup"> Signup</a>
    </p>
  </body>
</html>
