html{
   height: 100%;
}

*{
  font-family: Arial;
  color: white;
  border-color: black;
  text-shadow: 0px 0px 4px black, 0 0 6px black;
}

body {
 background-image: url("../img/bg-1.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
 background-attachment: fixed;
 
 
}

#header h1{
  font-size: 72px;
  line-height: 0px;
}


#header p{
  font-size: 22px;
  text-shadow: 2px 2px 3px black, 0 0 5px black;
}

a{
  font-size: 24px;
  text-decoration: none;
}
a:hover{
  text-shadow: 2px 2px 3px white, 0 0 6px black;
}

#navigation{
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  margin: auto;
  height: 24px;
  width: 40%;
  background: rgba(3, 4, 5, 0.4);
  border-radius: 12px;
}

#navigation li{
  display: block;
  float: left;
}

input{
  height: 26px;
  width: 200px;
  color: black;
  text-shadow: none;
}

input[type="submit"]{
  height: 26px;
  width: 70px;
  color: black;
  text-shadow: none;
}
.container {
  display: grid;
  grid-gap: 10px;
}

.section-head{
  text-align: center;
  margin-bottom: 5rem;
}
.heading{
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
}
.grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,3fr));
  grid-gap: 2.5rem;
}
.grid-item{
  display:grid;
  flex-direction: column;
  align-items: center;
  
}
.Featured-deals{
  height: 15rem;
  color: white;
  padding: 1rem;
  position: relative;
}
Deal-image{
  display: grid;
  
}